doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script
      var appConfig = {
        roomKey: #{roomKey},
        roomLink: '#{roomLink}',
        userId: #{userId},
        initiator: #{initiator},
        pcConfig: JSON.parse('!{pcConfig}'),
        pcConstraints: JSON.parse('!{pcConstraints}'),
        mediaConstraints: JSON.parse('!{mediaConstraints}')
      };

    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/js/adapter.js")
    script(src='/js/socket.io.js')

    script(src="/js/webrtc-demo.js")